/* Questions
1. Po co dodawać przy hoverze border-bottom "transparent"
2. Czy używać klasy mimo, że jesteśmy w stanie dostać się do elementów bez nich? */

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-black-shadow: rgba(0, 0, 0, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

/* Global styles */

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}

h1, h2 {
    font-family: var(--font-raleway);
}

a {
    text-decoration: none;
}

.btn {
    color: var(--color-white);
    font-weight: 700;
    border-radius: 40px;
    padding: 16px 65px;
    display: inline-block;
}

.logo {
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-primary);
}

.container {
    width: 1352px;
    margin: 0 auto;
}

/* Main styles */

header {
    height: 70px;
    box-shadow: 0 3px 6px var(--color-black-shadow);
}

header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 0 47px;
}

header nav ul li:last-child {
    padding-right: 0;
}

header nav ul li a {
    font-size: 0.6875rem;
    font-weight: 700;
    color: var(--color-grey);
    letter-spacing: 0.205rem;
    text-transform: uppercase;
    padding: 28px 12px 27px;
}

header nav ul li a:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}

.opening div {
    text-align: center;
    margin-top: 130px;
}

.opening h1 {
    font-size: 3.0625rem;
}

.opening p {
    margin: 20px 0 38px;
}

.opening .btn {
    background: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    padding: 22px 157px;
}
.opening img {
    width: 100%;
    height: auto;
}

.statistics .container {
    margin: 100px auto 120px;
    text-align: center;
}

.statistics .container h1 {
    font-size: 2rem;
}

.statistics-container {
    max-width: 780px;
    margin: 100px auto 0;
    display: flex;
    justify-content: space-between;
}

.statistics-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics-column .circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
}

.statistics-column .circle img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.statistics-column:first-child .circle {
    background: var(--color-redish);
}

.statistics-column:nth-child(2) .circle {
    background: var(--color-primary);
}

.statistics-column:last-child .circle {
    background: var(--color-green);
}

.statistics-column h2 {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.375rem;
    margin: 14px auto 19px; 
}

.statistics-column p {
    font-size: 1.0625rem;
    color: var(--color-grey);
}

.benefits {
    padding: 105px 0;
    background: var(--color-light-grey);
}

.benefits .container {
    width: 1124px;
    margin: 0 auto;
}

.benefits-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
    background: var(--color-white);
    border-radius: 5px;
    border: 1px solid #E8E9ED;
}

.benefits-container:first-child .benefits-container-column:first-child {
    margin-left: 36px;
}

.benefits h2 {
    font-size: 2rem;
}

.benefits p {
    line-height: 1.375rem;
    margin-top: 30px;
}

.benefits p::after {
    content: "";
    display: block;
    width: 327px;
    height: 4px;
    margin-top: 50px;
    background: var(--color-green);
}

.benefits-container:first-child p::after {
    background: var(--color-redish);
}

.benefits-container:nth-child(2) p::after {
    background: var(--color-primary);
}

.benefits-img-macbook img {
    width: 386px;
    height: auto;
    position: relative;
    z-index: 2;
}

.benefits-img-macbook::before {
    content: "";
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 41px;
    transform: rotate(45deg);
    background: var(--color-redish);
    position: absolute;
    right: 0;
    top: -40px;
    z-index: 0;
}

.benefits-img-macbook {
    margin: 113px 117px 38px 169px;
    position: relative;
}

.benefits-container:nth-child(2) {
    flex-direction: row-reverse;
}

.benefits-img-iphone img {
    width: 426px;
    height: auto;
    position: relative;
    z-index: 2;
}

.benefits-img-iphone::before {
    content: "";
    display: block;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: var(--color-primary);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.benefits-img-iphone {
    margin: 29px 192px 13px 70px;
    position: relative;
}

.benefits-container-last {
    display: flex;
    justify-content: space-between;
}

.benefits-container-last  .element-1,
.benefits-container-last  .element-2 {
    border-radius: 5px;
    border: 1px solid #E8E9ED;
}

.benefits-container-last  .element-1 {
    background: var(--color-white);
    max-width: 600px;
    padding: 69px 34px 70px 35px;
}

.benefits-container-last  .element-2 {
    background: var(--color-green);
}

.benefits-container-last  .element-2 img {
    margin: 98px 82px 64px 62px;
}

.benefits-container-last img {
    width: 295px;
    height: auto;
}

.pricing {
    margin: 100px 0 150px;
    text-align: center;
}

.pricing-container {
    width: 1266px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing h1 {
    font-size: 2rem;
    margin-bottom: 50px;
}

.pricing h2 {
    font-size: 1.25rem;
    font-weight: 700;
}

.pricing p:nth-child(3) {
    font-family: var(--font-raleway);
    font-size: 0.75rem;
    font-weight: 700;
}

.pricing li {
    font-size: 0.875rem;
}

.pricing .price {
    font-size: 2.875rem;
}

.pricing-box {
    border: 1px solid var(--leading-color);
    border-radius: 18px;
    position: relative;
    padding: 34px 119px 80px;
}

.pricing-box .btn {
    position: absolute;
    left: 50%;
    bottom: -24px;
    transform: translate(-50%, 0);
}

.pricing-box-basic {
    --leading-color: var(--color-redish);
}

.pricing-box-basic .btn {
    background: var(--color-redish);;
}

.pricing-box-professional {
    --leading-color: var(--color-primary);
    box-shadow: 5px 10px 27px var(--color-primary-shadow);
}

.pricing-box-professional .btn {
    background: var(--color-primary);
}

.pricing-box-premium {
    --leading-color: var(--color-green);
}

.pricing-box-premium .btn {
    background: var(--color-green);
}

.pricing-mains .price{
    margin: 28px auto 20px;
}

.pricing-mains-basic {
    margin-bottom: 80px;
}

.pricing-mains-professional {
    margin-bottom: 61px;
}

.pricing-mains-premium {
    margin-bottom: 45px;
}

.pricing-box li {
    margin-bottom: 20px;
}

.pricing-box-professional li {
    margin-bottom: 25px;
}

.pricing-yes::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Ckechmark-1.svg");
}

.pricing-no::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Close.svg");
}

