.benefits {
    padding: 42px 0;
    background-color: $color-light-grey;
    .container {
        max-width: 1124px;
    }
    h2 {
        font-size: 1.875rem;
        margin-top: 27px;
        margin-bottom: 40px;
        @include breakpoint-min(lg) {
            font-size: 2.25rem;
        }
    }
    p {
        font-size: 0.875em;
        line-height: 1.25rem;
        @include breakpoint-min(lg) {
            font-size: 1rem;
        }
        &::after {
			content: "";
			display: block;
			width: 327px;
			height: 4px;
			margin-top: 50px;
			background: $color-green;
            @include breakpoint-max(lg) {
                display: none;
            }
        }
    }
    .benefit {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background-color: $color-white;
        border: 1px solid #E8E9ED;
        border-radius: 5px;
        margin-bottom: 40px;
        padding: 40px 20px;
        @include breakpoint-min(lg) {
            flex-direction: row;
        }
        &:nth-child(1) {
            p {
                &::after {
                    background-color: $color-redish;
                }
            }
        }
        &:nth-child(2) {
            @include breakpoint-min(lg) {
                flex-direction: row-reverse;
            }
            p {
                &::after {
                    background-color: $color-primary;
                }
            }
        }
    }
    .macbook {
        margin-top: 20px;
        position: relative;
        @include breakpoint-min(lg) {
            margin: 70px 50px 20px 30px;
        }
        img {
            width: 193px;
            height: auto;
            position: relative;
            z-index: 2;
            @include breakpoint-min(lg) {
                width: 386px;
            }
        }
        &::before {
            content: "";
            display: block;
            width: 127px;
            height: 127px;
            border-radius: 50px;
            transform: rotate(45deg);
            background: $color-redish;
            position: absolute;
            right: 0;
            top: -40px;
            z-index: 0;
            @include breakpoint-min(lg) {
                width: 180px;
                height: 180px;
            }
        }
    }
    .iphone {
        position: relative;
        img {
            width: 175px;
            height: auto;
            position: relative;
            z-index: 2;
            @include breakpoint-min(lg) {
                width: 426px;
            }
        }
        &::before {
            content: "";
            display: block;
            width: 132px;
            height: 132px;
            border-radius: 50%;
            background: $color-primary;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0;
            @include breakpoint-min(lg) {
                width: 320px;
                height: 320px;
            }
        }
    }
    .benefit-last {
        display: flex;
        flex-direction: column;
        @include breakpoint-min(md) {
            flex-direction: row;
        }
        .element-1 {
            border-radius: 5px;
            border: 1px solid #E8E9ED;
            background: $color-white;
            padding: 0 20px 30px;
            @include breakpoint-min(md) {
                margin-right: 40px;
            }
        }
        .element-2 {
            border-radius: 5px;
            border: 1px solid #E8E9ED;
            background: $color-green;
            display: flex;
            justify-content: center;
            img {
                width: 80%;
                margin-top: 15%;
            }
        }
    }
}